
<form action="{% url 'overlaps.twitter_compare' %}" method="get">
    <table>
        <tr>
            <td>
                <label for="twitter_name_1">First Twitter name</label>
            </td>
            <td>
                <input id="twitter_name_1" name="twitter_name_one">
            </td>
        </tr>
        <tr>
            <td>
                <label for="twitter_name_2">Second Twitter name</label>
            </td>
            <td>
                <input id="twitter_name_2" name="twitter_name_two">

            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Compare!!</button>
            </td>
        </tr>
    </table>
</form>